{% extends 'layout/base.html' %}


{% block title %}
Post
{% endblock title %}

{% block content %}
<div class="card">
 <div class="card-header">
   <h3>
     {{ post.title }}
   </h3>
   <div>
     Author: <span class="badge bg-info">{{ post.author }}</span>
     Category Type: <span class="badge bg-info">{{ post.get_categoryType_display }}</span>
     Date: <span class="badge bg-info">{{ post.creationDate }}</span>
   </div>
 </div>
 <div class="card-body">
   {{ post.text }}
 </div>
</div>

{% endblock content %}